@charset "UTF-8";
@font-face {
    font-family: 'gata';
    src: url('dados/fonts/kittyspoon.ttf') format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-titulo:#ff0095;
    --cor-de-fundo: pink;
    --cor-dos-botoes: #d400ff;

    --font-destaque: 'gata';
}

body{
    background-color: var(--cor-de-fundo);
    font: normal normal 1em Arial, sans-serif;
    text-align: justify;
}
h1, h2, h3{
    text-align: center;
}
h1{
    background-color: var(--cor-titulo);
    font: normal normal 3em var(--font-destaque), Arial, Helvetica, sans-serif;
    padding: 10px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.400);
}
nav{
    background-color: var(--cor-titulo);
    font-size: 18px;
    text-align: center;
    padding: 60px 0px 30px 0px;
}
span{
    background-color: var(--cor-titulo);
    padding: 7px;
    margin: 0px 25px 0px 25px;
    border-radius: 10px;
    cursor: pointer;
}
span:hover{
    background-color: var(--cor-dos-botoes);
    color: var(--cor-dos-botoes);
    transition: .5s;
}
span:active{
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.221);
}
a{
    color: black;
    text-decoration: none;
}

main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
main p{
    text-indent: 15px;
    margin-top: 15px;
}
main img{
    display: block;
    margin: 10px auto 10px auto;
}
#long{
    width: 80%;
}
#video{
    display: flex;
    margin: 20px 0px 20px 0px;
}
aside{
    background-color: var(--cor-de-fundo);
    max-width: 750px;
    margin: 30px auto 0px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.388);
}
aside p{
    font: italic bold 1em Arial, sans-serif;
}
aside ul{
    list-style-position: inside;
    columns: 2;
    margin: 0px 20px 0px 50px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
}
footer a{
    color: white;
}
footer a:hover{
    font-weight: bold;
}